In [3]:
#Importing Necessary Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
%matplotlib inline

In [4]:
#Using tmdb_5000_movies.csv
movies = pd.read_csv('tmdb_5000_movies.csv')

In [5]:
# Getting top 5 rows
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
# Getting the columns of the movies database
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [7]:
# Reading the tmdb_5000_credits.csv file
credits = pd.read_csv('tmdb_5000_credits.csv')

In [8]:
# Getting the top 5 rows of the credits table
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
credits.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [10]:
credits.columns = ['id','title','cast','crew']

In [11]:
credits.head()

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
df = movies.merge(credits, on = 'id')
df.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'title_y', 'cast', 'crew'],
      dtype='object')

In [14]:
df = df.drop(['budget','homepage','original_language','popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average','crew',
       'vote_count', 'title_y'],axis = 1)

In [15]:
df.head()

,genres,id,keywords,original_title,overview,cast
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c..."

In [16]:
df.columns = ['genres','id','keywords','title','plot','cast']

In [17]:
df = df[['title','id','genres','cast','keywords','plot']]

In [18]:
df.head()

,title,id,genres,cast,keywords,plot
0,Avatar,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,Spectre,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...
3,The Dark Knight Rises,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...
4,John Carter,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca..."

In [19]:
from ast import literal_eval

In [20]:
columns = ['genres','cast','keywords'] 
for col in columns:
    df[col] = df[col].apply(literal_eval)

In [21]:
df.head()

,title,id,genres,cast,keywords,plot
0,Avatar,19995,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'id': 1463, 'name': 'culture clash'}, {'id':...","In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,285,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...","Captain Barbossa, long believed to be dead, ha..."
2,Spectre,206647,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'id': 470, 'name': 'spy'}, {'id': 818, 'name...",A cryptic message from Bond’s past sends him o...
3,The Dark Knight Rises,49026,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'id': 849, 'name': 'dc comics'}, {'id': 853,...",Following the death of District Attorney Harve...
4,John Carter,49529,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'id': 818, 'name': 'based on novel'}, {'id':...","John Carter is a war-weary, former military ca..."

In [22]:
def convert_to_list(data):
    if type(data) == list:
        lst = [i['name'] for i in data]
        return lst[:3]
    return []

In [23]:
cols = ['genres','cast','keywords']
for col in cols:
    df[col] = df[col].apply(convert_to_list)

In [24]:
df.head()

,title,id,genres,cast,keywords,plot
0,Avatar,19995,"[Action, Adventure, Fantasy]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[culture clash, future, space war]","In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,285,"[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]","[ocean, drug abuse, exotic island]","Captain Barbossa, long believed to be dead, ha..."
2,Spectre,206647,"[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[spy, based on novel, secret agent]",A cryptic message from Bond’s past sends him o...
3,The Dark Knight Rises,49026,"[Action, Crime, Drama]","[Christian Bale, Michael Caine, Gary Oldman]","[dc comics, crime fighter, terrorist]",Following the death of District Attorney Harve...
4,John Carter,49529,"[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[based on novel, mars, medallion]","John Carter is a war-weary, former military ca..."

In [25]:
df.to_csv('final_data.csv')

In [26]:
# Recommender System 1 Uses Plot to generate Recommendations

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [28]:
def generate_vectors_tfidf(df):
    tfidf = TfidfVectorizer(stop_words='english')
    df['plot'] = df['plot'].fillna('')
    tfidf_matrix = tfidf.fit_transform(df['plot'])
    return tfidf_matrix

In [29]:
def cosine_similarity(matrix,df):
    cosine_sim = linear_kernel(matrix,matrix)
    indices = pd.Series(df.index,index = df['title']).drop_duplicates()
    return cosine_sim,indices

In [30]:
def get_recommendations(title,cosine_sim,indices,df):
    index = indices[title]
    sim_scores = [(i,val) for i,val in enumerate(cosine_sim[index])]
    sim_scores = sorted(sim_scores,key=lambda x: x[1],reverse = True)[1:9]
    movie_index = [tupel[0] for tupel in sim_scores]
    return df['title'].iloc[movie_index]

In [31]:
#Testing the Functions

In [32]:
def tester_func(title,df):
    vectors = generate_vectors_tfidf(df)
    cosine_simi,indices = cosine_similarity(vectors,df)
    recommendations = get_recommendations(title,cosine_simi,indices,df)
    return recommendations

In [33]:
tester_func('The Dark Knight Rises',df)

65                              The Dark Knight
299                              Batman Forever
428                              Batman Returns
1359                                     Batman
3854    Batman: The Dark Knight Returns, Part 2
119                               Batman Begins
2507                                  Slow Burn
9            Batman v Superman: Dawn of Justice
Name: title, dtype: object

In [34]:
#Recommender System 2 Uses Cast, Keywords and Genre

In [35]:
def preprocessing(lst):
    for i,val in enumerate(lst):
        lst[i] = val.replace(" ","").lower()
    return lst

In [36]:
cols = ['genres','cast','keywords']
for col in cols:
    df[col] = df[col].apply(preprocessing)

In [37]:
df.head()

,title,id,genres,cast,keywords,plot
0,Avatar,19995,"[action, adventure, fantasy]","[samworthington, zoesaldana, sigourneyweaver]","[cultureclash, future, spacewar]","In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,285,"[adventure, fantasy, action]","[johnnydepp, orlandobloom, keiraknightley]","[ocean, drugabuse, exoticisland]","Captain Barbossa, long believed to be dead, ha..."
2,Spectre,206647,"[action, adventure, crime]","[danielcraig, christophwaltz, léaseydoux]","[spy, basedonnovel, secretagent]",A cryptic message from Bond’s past sends him o...
3,The Dark Knight Rises,49026,"[action, crime, drama]","[christianbale, michaelcaine, garyoldman]","[dccomics, crimefighter, terrorist]",Following the death of District Attorney Harve...
4,John Carter,49529,"[action, adventure, sciencefiction]","[taylorkitsch, lynncollins, samanthamorton]","[basedonnovel, mars, medallion]","John Carter is a war-weary, former military ca..."

In [38]:
def word_soup(row):
    return ' '.join(row['keywords']) + ' ' + ' '.join(row['genres']) + ' ' + ' '.join(row['cast'])

In [39]:
df['word_soup'] = df.apply(word_soup,axis = 1)

In [40]:
df.head()

,title,id,genres,cast,keywords,plot,word_soup
0,Avatar,19995,"[action, adventure, fantasy]","[samworthington, zoesaldana, sigourneyweaver]","[cultureclash, future, spacewar]","In the 22nd century, a paraplegic Marine is di...",cultureclash future spacewar action adventure ...
1,Pirates of the Caribbean: At World's End,285,"[adventure, fantasy, action]","[johnnydepp, orlandobloom, keiraknightley]","[ocean, drugabuse, exoticisland]","Captain Barbossa, long believed to be dead, ha...",ocean drugabuse exoticisland adventure fantasy...
2,Spectre,206647,"[action, adventure, crime]","[danielcraig, christophwaltz, léaseydoux]","[spy, basedonnovel, secretagent]",A cryptic message from Bond’s past sends him o...,spy basedonnovel secretagent action adventure ...
3,The Dark Knight Rises,49026,"[action, crime, drama]","[christianbale, michaelcaine, garyoldman]","[dccomics, crimefighter, terrorist]",Following the death of District Attorney Harve...,dccomics crimefighter terrorist action crime d...
4,John Carter,49529,"[action, adventure, sciencefiction]","[taylorkitsch, lynncollins, samanthamorton]","[basedonnovel, mars, medallion]","John Carter is a war-weary, former military ca...",basedonnovel mars medallion action adventure s...

In [41]:
df.to_csv('second_final_data.csv')

In [40]:
# Creating Recommendations Generator Function
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [41]:
def count_vectorize(df):
    count = CountVectorizer(stop_words = 'english')
    count_matrix = count.fit_transform(df['word_soup'])
    return count_matrix

In [42]:
def cosine_similarity_2(matrix,df):
    cosine_sim = cosine_similarity(matrix,matrix)
    dataframe = df.reset_index()
    index = pd.Series(dataframe.index,index = dataframe['title'])
    return cosine_sim,index

In [43]:
def get_recommendations_2(title,cosine_sim,indices,df):
    index = indices[title]
    sim_scores = cosine_sim[index]
    sim_scores = sorted([(idx,val) for idx,val in enumerate(sim_scores)],key=lambda x: x[1], reverse = True)[1:9]
    movie_index = [tupel[0] for tupel in sim_scores]
    return df['title'].iloc[movie_index]

In [44]:
#Testing the Functions

In [45]:
def tester_func_2(title,df):
    vectors = count_vectorize(df)
    cosine_simi,indices = cosine_similarity_2(vectors,df)
    recommendations = get_recommendations_2(title,cosine_simi,indices,df)
    return recommendations

In [46]:
tester_func_2('The Dark Knight Rises',df)

65               The Dark Knight
119                Batman Begins
4638    Amidst the Devil's Wings
3073           Romeo Is Bleeding
1986                      Faster
3326              Black November
1503                      Takers
303                     Catwoman
Name: title, dtype: object

In [47]:
#Recommender System 2 Uses Cast

In [48]:
def cast_soup(row):
    return ' '.join(row['cast'])

In [49]:
df['cast_soup'] = df.apply(cast_soup,axis = 1)

In [50]:
df.head()

,title,id,genres,cast,keywords,plot,word_soup,cast_soup
0,Avatar,19995,"[action, adventure, fantasy]","[samworthington, zoesaldana, sigourneyweaver]","[cultureclash, future, spacewar]","In the 22nd century, a paraplegic Marine is di...",cultureclash future spacewar action adventure ...,samworthington zoesaldana sigourneyweaver
1,Pirates of the Caribbean: At World's End,285,"[adventure, fantasy, action]","[johnnydepp, orlandobloom, keiraknightley]","[ocean, drugabuse, exoticisland]","Captain Barbossa, long believed to be dead, ha...",ocean drugabuse exoticisland adventure fantasy...,johnnydepp orlandobloom keiraknightley
2,Spectre,206647,"[action, adventure, crime]","[danielcraig, christophwaltz, léaseydoux]","[spy, basedonnovel, secretagent]",A cryptic message from Bond’s past sends him o...,spy basedonnovel secretagent action adventure ...,danielcraig christophwaltz léaseydoux
3,The Dark Knight Rises,49026,"[action, crime, drama]","[christianbale, michaelcaine, garyoldman]","[dccomics, crimefighter, terrorist]",Following the death of District Attorney Harve...,dccomics crimefighter terrorist action crime d...,christianbale michaelcaine garyoldman
4,John Carter,49529,"[action, adventure, sciencefiction]","[taylorkitsch, lynncollins, samanthamorton]","[basedonnovel, mars, medallion]","John Carter is a war-weary, former military ca...",basedonnovel mars medallion action adventure s...,taylorkitsch lynncollins samanthamorton

In [51]:
def cast_vectorize(df):
    count = CountVectorizer(stop_words = 'english')
    count_matrix = count.fit_transform(df['cast_soup'])
    return count_matrix

In [52]:
#Testing the Functions

In [53]:
def tester_func_3(title,df):
    vectors = cast_vectorize(df)
    cosine_simi,indices = cosine_similarity_2(vectors,df)
    recommendations = get_recommendations_2(title,cosine_simi,indices,df)
    return recommendations

In [64]:
tester_func_3('John Carter',df)

27                Battleship
275          Minority Report
1158           Lone Survivor
2051           The Libertine
2246    Synecdoche, New York
2658            Pandaemonium
3323                 Code 46
3438                 Control
Name: title, dtype: object

In [55]:
#Recommender System 3 Uses Genre

In [56]:
def genre_soup(row):
    return ' '.join(row['genres'])

In [57]:
df['genre_soup'] = df.apply(genre_soup,axis = 1)

In [58]:
df.head()

,title,id,genres,cast,keywords,plot,word_soup,cast_soup,genre_soup
0,Avatar,19995,"[action, adventure, fantasy]","[samworthington, zoesaldana, sigourneyweaver]","[cultureclash, future, spacewar]","In the 22nd century, a paraplegic Marine is di...",cultureclash future spacewar action adventure ...,samworthington zoesaldana sigourneyweaver,action adventure fantasy
1,Pirates of the Caribbean: At World's End,285,"[adventure, fantasy, action]","[johnnydepp, orlandobloom, keiraknightley]","[ocean, drugabuse, exoticisland]","Captain Barbossa, long believed to be dead, ha...",ocean drugabuse exoticisland adventure fantasy...,johnnydepp orlandobloom keiraknightley,adventure fantasy action
2,Spectre,206647,"[action, adventure, crime]","[danielcraig, christophwaltz, léaseydoux]","[spy, basedonnovel, secretagent]",A cryptic message from Bond’s past sends him o...,spy basedonnovel secretagent action adventure ...,danielcraig christophwaltz léaseydoux,action adventure crime
3,The Dark Knight Rises,49026,"[action, crime, drama]","[christianbale, michaelcaine, garyoldman]","[dccomics, crimefighter, terrorist]",Following the death of District Attorney Harve...,dccomics crimefighter terrorist action crime d...,christianbale michaelcaine garyoldman,action crime drama
4,John Carter,49529,"[action, adventure, sciencefiction]","[taylorkitsch, lynncollins, samanthamorton]","[basedonnovel, mars, medallion]","John Carter is a war-weary, former military ca...",basedonnovel mars medallion action adventure s...,taylorkitsch lynncollins samanthamorton,action adventure sciencefiction

In [59]:
def genre_vectorize(df):
    count = CountVectorizer(stop_words = 'english')
    count_matrix = count.fit_transform(df['genre_soup'])
    return count_matrix

In [60]:
#Testing the Functions

In [61]:
def tester_func_4(title,df):
    vectors = genre_vectorize(df)
    cosine_simi,indices = cosine_similarity_2(vectors,df)
    recommendations = get_recommendations_2(title,cosine_simi,indices,df)
    return recommendations

In [65]:
tester_func_4('Alien',df)

1437                        Bait
1482            The Darkest Hour
2181         From Dusk Till Dawn
2403                      Aliens
2980    The Purge: Election Year
3133            The Devil's Tomb
3153       Into the Grizzly Maze
3158                       Alien
Name: title, dtype: object